  nav,
  li,
  h1,
  body,
  a {
      padding: 0;
      margin: 0;
  }
body {
    /* i need to hide scroll space */
}
  main {
      background-color: rgb(94, 148, 148);
      max-width: 1920px;
      min-width: 380px;
      width: 100%;
      margin: auto;
      color: #FFFFFF;
  }

  header {
      background-color: rgba(65, 64, 64, 0.726);
      height: 80px;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  nav {
      display: flex;
      gap: 50px;
  }

  li {
      list-style-type: none;
  }

  li a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 30px;
  }

  a:hover {
      color: rgb(177, 125, 216);
  }

  .about {
      height: 500px;
      background-color: rgb(213, 175, 242);
  }

  .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  h2 {
      text-align: center;
  }

  .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-items: center;
      gap: 20px;
      padding: 50px 20px;
      
  }

  a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 25px;
      white-space: nowrap;
  }

  .grid-container div {
      white-space: nowrap;
      border: 1px solid #FFFFFF;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;
  }

  .grid-container div a:hover {
      color: rgb(177, 125, 216);
  }

  footer {
      background-color: rgba(65, 64, 64, 0.726);
      display: grid;
      align-items: center;
      justify-items: center;
      padding:20px;
  }

  .social-media {
      display: flex;
      gap: 50px;
      padding:30px 0px;
      
  }

  @media (max-width: 920px) {
 .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-items: center;
      gap: 20px;
      padding: 50px 20px;
     
  }
  }
 
   @media (max-width: 670px) {
 .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      justify-items: center;
      gap: 20px;
      padding: 50px 20px;
   } 
 .social-media {
   display: grid;
   gap:5px;
  }
   }  
      @media (max-width: 460px) {
 .grid-container {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      gap: 20px;
      padding: 50px 20px;
     
   } 
nav {
      display: flex;
      gap: 15px;
      
  }
  nav a {
    font-size: 10xp;
  }
   }  

