  body {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  }
  nav,
  li,
  h1,
  body,
  a {
      padding: 0;
      margin: 0;
      font-family: "Open Sans", sans-serif;
  }
/* main, .about {
    background-color: #7E998A; 
} */
  main {
      max-width: 1920px;
      /* min-width: 380px; */
      width: 100%;
      margin: auto;
      color: #ffffff;
  }

  header {
      background-color: #27273c;
      max-width: 1920px;
      width:100%;
      position: fixed;
      z-index: 1;
  }

  li {
      list-style-type: none;
  }

  li a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 25px;
  }

  a:hover {
      color: #7E998A;
  }

  .btn {
    background-color: #27273c;
    font-size: 16px;
    font-weight: 500;
    border:none;
}
  .about {
      padding-top: 130px;
      color:#ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .paragraph {
    font-size: 20px;
  }

  h2 {
      text-align: center;
  }
.icon {
width:7%;
}
.header-logo {
    width:50px;
    height:50px; 
}

  a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 20px;
      white-space: nowrap;
      transition: all 0.5s;
  }

  .card {
      background-color: transparent;
      border: none;
      color: #FFFFFF;
  }

i {
    color:#FFFFFF;
}

  footer {
      /* background-color: rgba(65, 64, 64); */
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 20px;
  }

  .social-media {
      display: flex;
      gap: 50px;
      padding: 50px 20px;
      justify-content: center;;
      align-items: center;
      justify-items: center;

  }

  @media (max-width: 920px) {

      .social-media {
          display: flex;
          gap: 15px;
      }
  }

  @media (max-width: 670px) {

    nav a {
        font-size: 16px;
    }
      .social-media, .skills {
          display: grid;
          gap: 5px;
      }
  }

  @media (max-width: 460px) {

      nav {
          display: flex;
          gap: 15px;

      }

      nav a {
          font-size: 16px;
      }
  }