.back {
  border: 2px solid black;
  width: 50px;
  height: 10%;
  padding: 20px;
  text-align: center;
}

.back:hover {
  background-color:#4FFFB0;
}

a {
  text-decoration: none;
  color: black;
  font-size: large;
}


.lineargradients {
  border: 2px solid black;
  float: left;
  width: 33%;
}

#toright {
  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#default {
  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

#tobottomright {

  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
}

#deg180 {

  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(180deg, red, orange, yellow, green, blue, indigo, violet);
}

#deg0 {

  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(0deg, red, orange, yellow, green, blue, indigo, violet);
}

#deg90 {

  border: none;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
}

#repeatinglineargradient {

  border: none;
  height: 200px;
  width: 200px;
  background-image: repeating-linear-gradient(90deg, red, orange 10%, yellow 15%, green 5%, blue 5%, indigo 30%, violet 3%);
}

.radialgraients {
  border: 2px solid black;
  float: left;
  width: 33%;


}

#defaultradial {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(red, orange, yellow, green, blue, indigo, violet);
}

#spacedcolorstops {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(red, orange 10%, yellow 15%, green 5%, blue 5%, indigo 30%, violet 3%);
}

#setshape {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
}

#closest-side {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);
}

#farthest-side {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(farthest-side at 99% 20%, blue, indigo, violet);
}

#closest-corner {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(closest-corner at 20% 15%, red, orange, yellow, green, blue, indigo, violet);
}

#farthest-corner {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(farthest-corner at 70% 5%,
      green, blue, indigo, violet);
}

#repeatingradialgradient {
  height: 200px;
  width: 200px;
  background-image: repeating-radial-gradient(red, pink 15%, green 15%);
}

.conicgradients {
  border: 2px solid black;
  float: left;
  width: 30%;

}

#threecolors {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(pink, green, red);
}

#fivecolors {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(pink, green, red, blue, white);
}

#threecolorsanddegrees {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(pink 60deg, red 20deg, blue 90deg);
}

#piecharts {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(red, blue, indigo, khaki);
  border-radius: 50%;
}

#defineddegrees {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(red 0deg, red 90deg, blue 90deg, blue 180deg, pink 180deg, pink 270deg, indigo 270deg);
  border-radius: 50%;
}

#specifiedfromangle {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(from 180deg, yellow, pink, lightblue);
  border-radius: 50%;
}

#specifiedcenterposition {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(at 65% 40%, pink, lightblue, indigo);
}

#repeatingconicgradient {
  height: 200px;
  width: 200px;
  background-image: repeating-conic-gradient(red 50%, yellow 20%, blue);
  border-radius: 50%;
}

#colorstartscolorstops {
  height: 200px;
  width: 200px;
  background-image: repeating-conic-gradient(red 0deg 10deg, blue 10deg 20deg, yellow 20deg 30deg);
  border-radius: 50%;
}