body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background: rgb(237, 230, 242);
  background: linear-gradient(90deg, rgba(237, 230, 242, 1) 0%, rgba(245, 174, 207, 1) 27%, rgba(244, 134, 134, 1) 53%, rgba(240, 143, 121, 1) 74%, rgba(244, 209, 160, 1) 100%);
}

h1{
text-shadow: 3px 3px 3px white;
  
}

div {
  border:hiden;
  width:50%;
  height:90%;
  position: absolute;
  box-shadow: 3px 3px 3px white;
  margin-left: 25%;
  margin-right: 25%;
}

li {
  list-style-type: none;
  font-size: 30px;
      margin-bottom: 15px;
  
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 3px white;
}
li a:hover {
 padding: 10px;
  border: hidden;
  box-shadow: 3px 3px 3px white;
  
}