body {
  background-color: rgb(162, 168, 166);
}

.one {
  float: left;
  border: hidden;
}

.two {
  float: left;
  border: hidden;
  width: auto;
  height: auto;
  margin-left: 5px;

}

.first {
  width: 450px;
  height: 270px;
  border: 1px solid black;
}

.menu {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
}

.menu li a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 5px;
  display: block;
}

.menu li {
  width: 200px;
  border: 1px solid red;
  border-bottom: 1px;
  position: relative;
}

.menu li:hover ul {
  visibility: visible;
  margin-left: 200px;
  padding-left: 10px;
  top: 0;

}

.menu li a:hover {
  background-color: #009;
}



.second {
  width: 450px;
  height: 160px;
  border: 1px solid black;
  margin-top: 10px;

}

.menu2 ul {
  list-style: none;
  visibility: hidden;
  position: absolute;
}

.menu2 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.menu2 li {
  position: relative;
  margin: 2px;
}

.menu2 li a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 5px;
  display: block;
  border-bottom: 0;
}

.menu2 li:hover ul {
  visibility: visible;
  width: 200px;
  margin-left: 200px;
  padding-left: 2px;
  top: 0;
}

.menu2 li a:hover {
  background-color: aqua;
  color: black;
}

.third {
  width: 450px;
  height: 150px;
  border: 1px solid black;
  margin-top: 10px;

}

.menu3 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;

}

.menu3 li {
  position: relative;

}

.menu3 li a {
  text-decoration: none;
  color: #d36868;
  background-color: #ffffff;
  padding: 5px;
  display: block;
  border-bottom: 0;
}

.menu3 li:hover ul {
  visibility: visible;
  width: 200px;
  margin-left: 200px;
  padding-left: 0;
  top: 0;

}

.menu3 li a:hover {

  color: rgb(185, 52, 52);
  border-right: 3px solid #009;

}

.menu3 ul {
  list-style: none;
  visibility: hidden;
  position: absolute;
}

.menu3 a {
  text-decoration: none;
}

.horizontal {
  width: 450px;
  height: 270px;
  border: 1px solid black;
}

.hor {
  list-style: none;
  padding:1px;
  margin: 0;
}

.hor li a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 5px;
  background-color: #d36868;
  display: block;
}

.hor li {
  width: 112px;
  border: hidden;
  float:left;
  list-style: none;
  
}

.hor li a:hover {
  background-color: aqua;
  color:rgb(255, 0, 0);
}

.hor ul {
  visibility: hidden;
  margin:0;
  padding:0;
}
