body {
  background-color: rgb(162, 168, 166);
}

.first {
  width: 450px;
  height: 300px;
  border: 1px solid black;
}

.menu {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
}

.menu li a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 5px;
  display: block;
}

.menu li {
  width: 200px;
  border: 1px solid red;
  border-bottom: 1px;
  position: relative;
}

.menu li:hover ul {
  visibility: visible;
  margin-left: 200px;
  padding-left: 10px;
  top: 0;

}

.menu li a:hover {
  background-color: #009;
}



.second {
  width: 450px;
  height: 300px;
  border: 1px solid black;
  margin-top: 10px;
}

.menu2 ul {
  list-style: none;
  visibility: hidden;
  position: absolute;
}

.menu2 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.menu2 li {
  position: relative;
  margin: 2px;
}

.menu2 li a {
  text-decoration: none;

  color: #fff;
  background-color: #333;
  padding: 5px;
  display: block;
  border-bottom: 0;
}

.menu2 li:hover ul {
  visibility: visible;
  width: 200px;
  margin-left: 200px;
  padding-left: 2px;
  top: 0;

}

.menu2 li a:hover {
  background-color: aqua;
  color: black;
}